.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
	padding: 0;
	margin: 0;
}

html, body {
	width: 100%;
	height: 650px;
}

nav {
	background-color: #21252954;
	color: white;
	height: 65px;
	padding-top: 2px;
	padding-right: 50px;
}
li.nav-item {
    margin-right: 15px;
    font-size: 25px;
}
footer {
  background-color: #2d2d2d;
  margin-top: 24px;
  padding-top: 15px;
  color: #cccccc;
  font-size: 14px;
  position: absolute;
  width: 100%;
  bottom: 0px;
}
div#left-block {
  border-right: 1px solid;
  height: 405px;
  padding-right: 0px;
  overflow:scroll
}